#chat-screen {
    background-color: #FFF5E4;
    background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEyMDdfMTU0%2FMDAxNjcwNDIzNDU1MjQx.ppYhIOmNp-hSpiTt61c1T-KXiEuZ-8ceq6JVMkA-cV8g.bk18_AIYXYA6JLgmwQWaK36kytWOJS9ek9Cai6CkkR4g.JPEG.joumeet19%2F%25C0%25DC%25B8%25C1%25B7%25E7%25C7%25C7_%25BB%25A9%25B2%25C4_%25B9%25E8%25B0%25E6%25C8%25AD%25B8%25E9_%25BC%25BC%25B7%25CE%25C7%25FC_%25BF%25BB%25B7%25CE%25BF%25EC.jpg&type=sc960_832");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    height: 1000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    top : 0;
    position: fixed;
    width: 100%;
    box-sizing : border-box;
    background-color: #FFF5E4;
}

#chat-screen .alt-header {
    top: 20px;
}

@keyframes fadeIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top : 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s linear;
}

.chat__time {
    color : white;
    background-color: #F3B5B7;
    padding : 10px 20px;
    border-radius: 50px;
    margin-bottom: 25px;
}

@keyframes fadeInLeft {
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message-row {
    width : 100%;
    display: flex;
    margin-bottom: 25px;
    animation: fadeInLeft 1s linear;
}

.message-row img {
    width : 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
}

.message-row--me {
    animation: fadeInRight 1s linear;
}

.message__author {
    opacity: 0.9;
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}

.message__text {
    background-color: white;
    border-radius: 30px;
    padding : 10px;
    border-top-left-radius : 0px;
}

.message__time {
    font-size : 10px;
    opacity: 0.9;
    margin-left: 5px;
}

.message__title {
    display: flex;
    align-items: flex-end;
}

.message-row--me {
    justify-content: flex-end;
}

.message-row--me .message__text {
    background-color: #F3B5B7;
    border-top-right-radius: 0px;
    border-top-left-radius: 30px;
    margin-right : 0px;
    margin-left : 5px;
}

.message-row--me .message__title {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;    
}

.reply .reply_column:first-child {
    width : 10%;
}

.reply .reply_column:last-child {
    width : 90%;
    position: relative;
}

.reply input {
    padding-left : 15px;
    height: 30px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    transition : all .3s ease-in-out;
    box-sizing: border-box;
}

.reply_column:last-child > i,
.reply_column:last-child button {
    position: absolute;
    right : 3px;
    top: 3px;
}

.reply_column:last-child > i {
    right: 32px;
    top : 15px;
}

.reply_column:first-child > i,
.reply_column:last-child > i {
    opacity: 0.8;
}

.reply_column button {
    background-color: var(--yellow);
    border : none;
    width : 25px;
    height: 25px;
    border-radius: 50%;
}

.reply_column button:focus,
.reply_column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
    opacity: 0;
    visibility: hidden;
}

.reply input:focus {
    width: 95vw;
    transform: translate(-10%);
}
