.suggestions-icons {
    display: flex;
    flex-direction: warp;
}

.suggestions-icons__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.suggestions-icons__icons img {
    width : 50px;
    height: 50px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.suggestions-icons__icons span {
    font-size : 12px;
    opacity: 0.8;
}


.more-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
}

.more-icons__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.more-icons__icons i {
    font-size : 30px;
    margin-bottom: 10px;
}

.more-icons__icons span {
    font-size: 12px;
    opacity: 0.9;
}

.suggestions {
    border-top: var(--main-border);
    padding-top: 30px;
}

.suggestions__header {
    padding-bottom: 20px;
}

.user-component__column2 {
    opacity: 0.9;
}

.user-component__subtitle i {
    color: tomato;
    margin : 0 7px;
}
